main {
    margin: 150px auto 0 auto;
    width: 90%;
}

main > h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 40px auto;
    color: #175fcb;
}

div.alunos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.alunos > section > img {
    width: 100%;
    height: 60vh;
    min-width: 200px;
    max-width: 360px;
    border-radius: 5px;
    margin: 10px auto;
}

main section {
    color: #ffff;
    padding: 20px;
    background: #2c65bb;
    border: none;
    border-radius: 3px;
    margin: 30px
}

main > div > section > h2 {
    font-size: 1.8rem;
}

main > div > section p {
    font-size: 1.3rem;
    margin: 5px auto;
}

main > div > section img {
    width: 45px;
}

@media screen and (max-width: 600px) {
    div.alunos{
        flex-direction: column;
    }
}