.primeira-secao {
    background: #ADD8E6 url(../image/engin-akyurt-PCpoG06fcUI-unsplash.jpg) center center no-repeat;
    height: 60vh;
    background-size: cover;
    display: flex;
    align-items: center;
}

.primeira-secao > h1 {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 10px;
    color: #ffff;
    width: 50%;
    margin: 10vh auto 0 auto;
    text-align: center;
    border-radius: 20px;
    font-size: 2rem;
}

.container {
    width: 85%;
    margin: 0 auto;
}
p {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.6rem;
}

img {
    width: 400px;
}

section {
    display: flex;
    gap: 35px;
    align-items: center;
}

main > section > .desidratacao h2, p{
    margin: 20px 0;
}

main > section > .desidratacao p {
    margin-bottom: 30px;
}

main a {
    text-decoration: none;
    padding: 10px;
    background-color: #ADD8E6;
    border-radius: 5px;
    margin-top: 30px;
    color: #000;
    transition: 0.3s;
    font-size: 1.1rem;
    font-weight: 900;
}

main a:hover {
    background-color: #4ebce1;
}

@media screen and (max-width: 600px) {
    .primeira-secao > h1 {
        width: 85%;
    }
    section {
        flex-wrap: wrap;
    }

    section .desidratacao {
        margin-top: 0;
    }
}