.primeira-secao {
    background: #ADD8E6 url(../image/engin-akyurt-PCpoG06fcUI-unsplash.jpg) center center no-repeat;
    height: 60vh;
    background-size: cover;
    display: flex;
    align-items: center;
}

main h3 {
    font-size: 1.3rem;
}

.primeira-secao > h1 {
    background: rgba(44, 101, 187, 0.8);
    padding: 20px 10px;
    color: #ffff;
    width: 50%;
    margin: 10vh auto 0 auto;
    text-align: center;
    border-radius: 20px;
    font-size: 2rem;
}

.container {
    width: 85%;
    margin: 60px auto;
}

main p {
    font-size: 1.3rem;
}

main h2 {
    font-size: 2rem;
    color:#2c65bb ;
}

main > section > img {
    min-width: 259px;
    width: 100%;
    max-width: 400px;
}

main section {
    display: flex;
    gap: 50px;
    align-items: center;
}

main > section > .informacoes h2, p{
    margin: 20px 0;
}

main > section > .informacoes p {
    margin-bottom: 30px;
}

main a {
    text-decoration: none;
    padding: 10px;
    background-color: #ADD8E6;
    border-radius: 5px;
    margin-top: 30px;
    color: #1565dd;
    transition: 0.3s;
    font-size: 1.1rem;
    font-weight: 900;
}

main a:hover {
    background-color: #4ebce1;
}

.container-conta {
    display: flex;
    align-items: center;
}

.container-conta > div {
    flex: 1;
    width: 100%;
}

.container-calculo form {
    font-size: 1.5rem;
}

.container-calculo form input {
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

.container-calculo form input.btn-resultado {
    background:#1565dd ;
    color: #ffff;
    text-transform: uppercase;
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;

}

.container-calculo form input.btn-resultado:hover {
    background: #003078;
}

.container-calculo form label {
    color: #2c65bb;
    font-weight: 600;
}

.habitos-hidratacao {
    flex-direction: column;
    align-items: normal;
    gap: 10px;
}

.habitos-hidratacao > .habitos{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
}

.habitos-bons, .habitos-ruins {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding-top: 15px;
}

.habitos-hidratacao > .habitos h3 {
    color: #003078;
}

.icones-habitos {
    display: flex;
}

.habitos-hidratacao .icones-habitos img {
    margin: auto 5px;
    width: 64px;
    cursor: pointer;
    transition: 0.3s;
}

.habitos-bons .icones-habitos img{
    margin: auto 1px;
}

.habitos-ruins {
    background: rgba(239, 25, 25, 0.5);
}

.habitos-bons {
    background: rgba(16, 177, 56, 0.5);
}

@media screen and (max-width: 600px) {
    .primeira-secao > h1 {
        width: 85%;
    }
    section {
        flex-wrap: wrap;
    }

    section .desidratacao {
        margin-top: 0;
    }

    .container-conta {
        flex-direction: column;
    }

    .habitos {
        flex-direction: column;
    }
    
}