.primeira-secao {
    background: #ADD8E6 url(../image/engin-akyurt-PCpoG06fcUI-unsplash.jpg) center center no-repeat;
    height: 70vh;
    max-height: 80vh;
    background-size: cover;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000;
}

main h3 {
    font-size: 1.3rem;
}

.primeira-secao > h1 {
    background: rgba(44, 101, 187, 0.8);
    padding: 20px 10px;
    color: #ffff;
    width: 50%;
    margin: 10vh auto 0 auto;
    text-align: center;
    border-radius: 20px;
    font-size: 2rem;
}

.container {
    width: 85%;
    margin: 60px auto;
}

main p {
    font-size: 1.3rem;
}

main h2 {
    font-size: 2rem;
    color:#2c65bb ;
}

main > section > img {
    min-width: 259px;
    width: 100%;
    max-width: 400px;
}

main section {
    display: flex;
    gap: 50px;
    align-items: center;
}

main > section > .informacoes h2, p{
    margin: 20px 0;
}

main > section > .informacoes p {
    margin-bottom: 30px;
}

main a.btn-saiba-mais {
    text-decoration: none;
    padding: 10px;
    background-color: #ADD8E6;
    border-radius: 5px;
    margin-top: 30px;
    color: #1565dd;
    transition: 0.3s;
    font-size: 1.1rem;
    font-weight: 900;
}

main a.btn-saiba-mais:hover {
    background-color: #4ebce1;
}

.container-quiz-conta {
    flex-direction: column;
    gap: 10px;
}

.container-conta {
    display: flex;
    align-items: center;
    gap: 20px;
}

.container-conta > div {
    flex: 1;
    width: 100%;
}

.container-calculo form {
    font-size: 1.5rem;
}

.container-calculo form input {
    display: block;
    margin: 10px 0;
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    font-size: 1rem;
}

.container-calculo form input.btn-resultado {
    background:#1565dd ;
    color: #ffff;
    text-transform: uppercase;
    padding: 8px;
    cursor: pointer;
    padding: 15px 30px;
    transition: 0.3s;
}

.container-calculo form input.btn-resultado:hover {
    background: #003078;
    cursor: pointer;
}

.container-calculo form input.btn-resultado:disabled {
    background: #ccc;
    color: #a0a0a0;
    border: none;
    cursor: not-allowed;
}
.container-calculo form label {
    color: #2c65bb;
    font-weight: 600;
}

.habitos-hidratacao {
    flex-direction: column;
    align-items: normal;
    gap: 10px;
    margin-bottom: 0;
}

.habitos-hidratacao > .habitos{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 30px;
}

.habitos-bons, .habitos-ruins {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 15px 10px 0 10px;
    width: 100%;
}

.habitos-hidratacao > .habitos h3 {
    color: #003078;
}

.icones-habitos {
    display: flex;
}

.habitos-hidratacao .icones-habitos img {
    margin: auto 5px;
    width: 64px;
    cursor: pointer;
    transition: 0.3s;
}

.habitos-bons .icones-habitos img{
    margin: auto 1px;
}

.habitos-ruins {
    background: rgba(239, 25, 25, 0.5);
}

.habitos-bons {
    background: rgba(16, 177, 56, 0.5);
}

/* parte de javascript informando a quantidade de agua */
span.valor-agua {
    color: #1565dd;
}

span.peso-invalido {
    color: #FF0000;
    text-transform: uppercase;
}

/* parte de javascript que mostra o quiz após calcular a agua */

.mostrar-quiz {
    animation: mostrar-quiz forwards 2s;
}

.container-quiz-conta a {
    color: #1565dd;
    transition: 0.4s;
}

/* texto dos hábitos */

p.mostar-informacoes {
    width: 100%;
    font-size: 1.2rem;
}

.habitos-texto-icones {
    color: #03398a;
    font-weight: 600;
}

@keyframes mostrar-quiz {
    0% {
        transform: translateX(-20px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media screen and (max-width: 800px) {
    .primeira-secao > h1 {
        width: 85%;
    }
    section {
        flex-wrap: wrap;
        justify-content: center;
    }

    section .desidratacao {
        margin-top: 0;
    }

    .container-conta {
        flex-direction: column;
    }

    .habitos {
        flex-direction: column;
    }
    
}

@media screen and (max-width: 400px) {
    .habitos-hidratacao .icones-habitos img {
        width: 50px;
    }
}