 
body {
    background-color: rgb(96, 151, 222);
}

a {
    text-decoration: none;
    color: #003078;
}

a:hover {
    color: #0d55c1;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 5px;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 130px 0 20px 0;
    color: rgb(255, 255, 255);
    border-radius: 50px;
}

.explicacao-quiz {
    text-align: center;
    width: 85%;
    margin: 5px auto;
}
 
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
main p {
    font-size: 1.4rem;
    margin-bottom: 15px;
}
 
main label {
    font-size: 1.3rem;
    padding-left: 10px;
}
 
main .pergunta,  .container-resultado{
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px;
    margin: 20px auto;
    border-radius: 40px;
    width: 85%;
}
 
main .pergunta div {
    margin: 8px 0;
}
 
.btn-enviar{
    font-weight: 750;
    width: 160px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 15px;
    box-shadow: 0 0 10px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-enviar:hover {
    background: #dcdcdc;
}
.resposta-correta, .resposta-incorreta, .resposta-mediana {
    font-weight: 300;
}
.resposta-correta {
    color: #07cc07;  
}

.resposta-incorreta {
    color: #FF0000;
}

.icones-navegacao {
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
}

.icones-navegacao img {
    width: 50px;
    cursor: pointer;
}

.resposta-mediana {
    color: #c1a401;
}

p.quantidade-acertada {
    text-align: center;
    margin: 20px auto;
}

.container-resultado {
    flex: 1;
    width: 70%;
    text-align: center;
    margin-bottom: 40px;
}

.container-resultado h2 {
    color: #03398a;
    font-size: 2rem;
}

.container-resultado img {
    width: 70px;
}

.none {
    display: none;
}

.js-respondeu-nenhum {
    margin-top: 15px;
    text-align: center;
}

.container-resultado a {
    text-decoration: none;
    color: #0d55c1;
    transition: 0.3s;
}

.container-resultado a:hover {
    color: #518be2;
}

label {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
   h1 {
    margin-top: 150px;
   }

   .container-resultado {
    width: 85%;
   }
}